{% extends 'base.html' %}

{% block conteudo %}

<!-- Brand Header -->
<div class="text-center mb-5 h-300">
    <img alt="SwiftLogistics Logo" class="img-fluid mb-4"
         src="/static/img/logo.png"
         style="height: 48px;"/>
    <h1 class="h3 fw-bold mb-2">Bem-vindo de volta</h1>
    <p class="text-muted small mb-0">Acesse sua conta para gerenciar suas encomendas.</p>

    <form action="{{ url_for('login') }}" method="post" class="w-100 d-flex justify-content-center align-items-center flex-column">
        <div class="mb-3 w-50 d-flex flex-column">
            <label class="form-label small fw-bold" for="email">E-mail ou Usuário</label>
            <div class="input-group">
                <span class="input-group-text"><span class="material-symbols-outlined">person</span></span>
                <input class="form-control form-control-with-icon" id="email" placeholder="nome@exemplo.com"
                       type="text" name="form_email"/>
            </div>
        </div>
        <div class="mb-3 w-50 justify-content-center align-items-center">
            <label class="form-label small fw-bold" for="password">Senha</label>
            <div class="input-group">
                <span class="input-group-text"><span class="material-symbols-outlined">lock</span></span>
                <input class="form-control form-control-with-icon" id="password" placeholder="••••••••"
                       type="password" name="form_senha"/>
            </div>
        </div>
        <button class="btn btn-primary w-50 d-flex align-items-center justify-content-center gap-2" type="submit" >
            Entrar <span class="material-symbols-outlined">arrow_forward</span>
        </button>
        <button class="btn btn-track w-20 d-flex align-items-center justify-content-center gap-2" type="submit"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Cadastrar <span class="material-symbols-outlined">arrow_forward</span>
        </button>
    </form>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastro de Funcionario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-cadastro" action="{{ url_for('todos_funcionarios') }}" method="post">
                    <label>
                        <input placeholder="Digite o nome" name="form_nome" class="form-control" >
                    </label>
                    <label>
                        <input placeholder="Digite o CPF" name="form_cpf" class="form-control">
                    </label>
                    <label>
                        <input placeholder="Digite o email" name="form_email" class="form-control">
                    </label>
                    <label>
                        <input placeholder="Digite o senha" name="form_senha" class="form-control">
                    </label>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info mt-2" style="margin: 20px;">Cadastrar</button>
                            <a class="btn btn-danger mt-2 w-2 h-4" onclick="limpaInputsCadastro()">Cancelar</a>

                        </div>
                </form>

            </div>

        </div>
    </div>
</div>


{% endblock %}